*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.card1{
    height: 250px;
    width: 300px;
    background-color: blueviolet;
    /*padding: 10px;*/
    /*padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 20px;*/
    padding: 10px 20px;
    border: 10px  solid black;

    margin-bottom: 20px;
    margin-top: 10px;
    

}
.card2 > h2{
    margin-bottom: 20px;

}

button{
    padding: 10px 25px;
    font-size: 18px;
    font-weight: bold;
    text-transform: capitalize;
    margin-top: 10px;
    background-color: darkred;

}
button:hover{
    
    background-color: blueviolet;
}

.card2{
    height: 250px;
    width: 300px;
    background-color: blue;
    padding: 10px;
    
    border-width: 10px;
    border-style:groove;
    border-color: aqua;
    border-radius: 20px;
}

.card3{
    margin-top: 10px;
    
    margin-right: 50px;
    margin-bottom: 20px;
    height: 250px;
    width: 300px;
    border-top: 5px solid black;
    border-right: dashed green;
    border-bottom: 5px double red;
    border-left: groove blueviolet;
    background-color: darkorange;

}

